.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 5px;
  min-height: 74px; /* 2 строки для текста ошибки под инпутом */
}

.input__label {
  color: #A0A0A0;
  font-size: 10px;
  font-weight: 400;
}

.input__field {
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid #E8E8E8;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  background: #fafafa;
}

.input__field::placeholder {
  color: #A0A0A0;
}

.input__field:focus {
  border-bottom: 1px solid #3456F3;
}

.input__field:invalid {
  color: #EE3465;
}

.input__field:focus:invalid {
  border-bottom: 1px solid #EE3465;
}

.input__error {
  display: block;
  color: #EE3465;
  font-size: 10px;
  font-weight: 400;
}