.movies {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  color: #000;
}

.movies__container {
  margin: 80px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 80px;
  width: 100%;
  max-width: 1140px;
}

.movies__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 32px 20px;
  width: 100%;
  list-style: none;
}

.movies__more-btn {
  box-sizing: border-box;
  padding: 9px;
  width: 100%;
  max-width: 320px;
  min-height: 36px;
  border: none;
  border-radius: 6px;
  background: #F4F4F4;
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease-in;
}

.movies__more-btn:hover {
  opacity: .8;
}

@media (max-width: 830px) {

  .movies__list {
    gap: 36px 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 339px));
  }

}

@media (max-width: 620px) {

  .movies__list {
    gap: 20px;
  }

}

@media (max-width: 360px) {

  .movies__container {
    margin: 50px 10px 80px;
  }

}