.movie {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.movie__image {
  display: block;
  width: 100%;
  max-height: 190px;
  aspect-ratio: 178 / 100;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.movie__info {
  margin: 14px 12px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.movie__main {
  display: flex;
  justify-content: space-between;
}

.movie__title {
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}

.movie__btn {
  box-sizing: border-box;
  padding: 0;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.movie__btn:hover {
  opacity: .7;
}

.movie__btn_type_save {
  border-radius: 50%;
  background: #F9F9F9;
  border: 2px solid #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.movie__btn_type_save_active {
  background: #2BE080;
}

.movie__btn_type_delete {
  background: center no-repeat url(../../images/cross-bold.svg);
  border: none;
}

.movie__duration {
  color: #A0A0A0;
  font-size: 11px;
}