.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, Arial, sans-serif;
  color: #000;
  background: #fafafa;
  font-weight: 400;
  line-height: normal;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}