.search {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #fafafa;
  color: #000;
}

.search__container {
  margin: 70px 30px 0;
  width: 100%;
  max-width: 1140px;
  padding-bottom: 69px;
  border-bottom: 1px solid #E8E8E8;
}

.search__form {
  box-sizing: border-box;
  padding: 16px 0;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 9px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  transition: all .2s ease-in;
}

.search__form_active {
  box-shadow: 0px 3px 14px 0px rgba(52, 86, 243, 0.2);
}

.search__form-main {
  box-sizing: border-box;
  padding: 0 18px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;
}

.search__form-input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.search__form-input-container::before {
  content: '';
  width: 38px;
  height: 34px;
  background: center no-repeat url('../../images/search-gray.svg');
  background-size: 14px;
  z-index: 0;
}

.search__form-input {
  margin-left: 9px;
  padding: 0;
  width: 100%;
  flex-grow: 1;
  background: none;
  border: none;
  outline: none;
  color: #000;
  font-size: 18px;
  line-height: 1.31;
}

.search__form-input::placeholder {
  color: #A0A0A0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.11;
}

.search__form-btn {
  padding: 0;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #3456F3;
  background-image: url(../../images/search-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  transition: all .2s ease-in;
}

.search__form-btn:hover {
  opacity: .7;
}

/*** TOGGLE ***/

.search__form-toggle {
  padding: 0 30px;
  display: flex;
  align-items: center;
  column-gap: 16px;
  min-height: 40px;
  cursor: pointer;
  border-left: 1px solid #CBCBCB;
}

.search__form-toggle-switch {
  position: relative;
  width: 34px;
  height: 14px;
  background: #ccc;
  border: none;
  border-radius: 16px;
}

.search__form-toggle-switch:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  transition: all .2s ease-in;
}

.search__form-toggle-checkbox:checked + .search__form-toggle-switch {
  background: #2BE080;
}

.search__form-toggle-checkbox:checked + .search__form-toggle-switch:before {
  left: 22px;
}

.search__form-toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.search__form-toggle-label {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.38;
}

@media (max-width: 830px) {

  .search__container {
    margin: 80px 30px 0;
    padding-bottom: 110px;
  }

  .search__form-toggle {
    padding: 0 20px;
  }

}

@media (max-width: 620px) {

  .search__container {
    padding-bottom: 45px;
  }

  .search__form {
    padding: 0;
    flex-direction: column;
    row-gap: 46px;
    border-radius: 0;
    box-shadow: none;
  }

  .search__form-main {
    padding: 19px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    transition: all .2s ease-in;
  }

  .search__form-main_active {
    box-shadow: 0px 3px 14px 0px rgba(52, 86, 243, 0.2);
  }

  .search__form-input {
    margin: 0;
  }

  .search__form-input-container::before {
    display: none;
  }

  .search__form-input::placeholder {
    font-size: 14px;
    line-height: 1.43;
  }

  .search__form-toggle {
    padding: 0;
    min-height: 0;
    border: none;
  }

}

@media (max-width: 360px) {

  .search__container {
    margin: 80px 10px 0;
  }

  .search__form-input {
    font-size: 11px;
    line-height: 1.55;
  }

  .search__form-toggle-label {
    font-size: 11px;
    line-height: 1.64;
  }

}